BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=123456789
DATABASE_URL=sqlite+aiosqlite:///./bot.db

# کانال اصلی عضویت اجباری
REQUIRED_CHANNEL=@irfreenet
REQUIRED_CHANNEL_LINK=https://t.me/irfreenet

# اختیاری: آیدی عددی کانال آرشیو، مثل -1001234567890
ARCHIVE_CHANNEL_ID=

DELETE_AFTER_SECONDS=15
SKIP_MEMBERSHIP_FOR_ADMINS=1
